@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Regular.woff2") format(woff2),
    url("./fonts/Rubik-Regular.woff") format(woff);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

:root {
  --button-bg: #1f95bd;
  --button-bg-hover: #095592;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  font: 1rem 'Rubik';  
  background: center url(./images/library.jpg) no-repeat;
  background-size: cover;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.addBook {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addBook button {
  border: none;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  color: white;
  background-color: var(--button-bg);
}

.addBook button:hover {
  background-color: var(--button-bg-hover);
}

.container {
  height: 100vh;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit,minmax(0, 0.5fr));
  gap: 1rem;
}

.card {
  background-color: aliceblue;
  padding: 1rem;
  line-height: 1.5rem;
  border-radius: 6px;
}

.card .book-cover {
  width: 20%;
  height: 25%%;
  margin-left: auto;
  margin-right: auto;
}

.card > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.card button {
  background-color: var(--button-bg);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}

.card button:hover {
  background-color: var(--button-bg-hover);
}

dialog {
  background: center url("./images/library.jpg") no-repeat;
  background-size: cover;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 1.5rem;
  width: auto;
}

dialog form {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(2, 1fr);
}

form button,
form input {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

form input[checkbox] {

}

form button {
  padding: 1rem;
  background-color: var(--button-bg);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

form button:hover {
  background-color: var(--button-bg-hover);
}